<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mongoose Flights</title>
  </head>
  <body>
    <table id="list">
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departs</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(function(m) { %>
        <tr>
          <td><%= m.airline %></td>
          <td><%= m.flightNo %></td>
          <td><%= m.departs %></td>
          <td><a href="/flights/<%=m._id%>">Details</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <button><a href="/flights/new"> New Flight</a></button>
  </body>
</html>
